* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

body {
  /* position: relative; */
  /* background-color: rgb(32, 31, 31); */
  background-color: black;
}

/* ================= NAVBAR ================= */
.navbar {
  /* display: flex; */
  padding: 10px;
  /* background-color: antiquewhite;
    border: 2px solid black; */

  position: absolute;
  width: 100vw;
  height: 91px;
  /* left: 100px; */
  margin: auto;
}
.navbar-inner-container {
  display: flex;
  margin: auto;
  width: 80vw;
  justify-content: space-between;
  margin-top: 10px;
}

.netflix-logo {
  width: 9.25rem;

  /* height: 2.5rem; */
  /* color: rgb(229,9,20); */
  /* border: 2px solid purple; */
}
.lang-btn {
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  border: 2px solid white;
  margin-right: 10px;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
}
.sign-in-btn {
  background-color: rgb(229, 9, 20);
  color: white;

  font-size: 1rem;
  font-weight: 400;
  /* border: 2px solid red; */
  cursor: pointer;
  /* width: px; */
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  /* flex-grow: 0; */
}

/* =================HERO SECTION ================= */

.hero-section {
  display: flex;
  height: 90vh;
  width: 100vw;
  /* background-image: url(./assets/images/background.jpg); */
  background:
    linear-gradient(
      12deg,
      rgba(0, 0, 0, 0.6) 36%,
      rgba(0, 0, 0, 0.5465) 40.58%,
      rgba(0, 0, 0, 0.5361) 45.17%,
      rgba(0, 0, 0, 0.5187) 49.75%,
      rgba(0, 0, 0, 0.7944) 54.33%,
      rgba(0, 0, 0, 0.7632) 58.92%,
      rgba(0, 0, 0, 0.725) 63.5%,
      rgba(0, 0, 0, 0.6868) 68.08%,
      rgba(0, 0, 0, 0.6556) 72.67%,
      rgba(0, 0, 0, 0.6313) 77.25%,
      rgba(0, 0, 0, 0.6139) 81.83%,
      rgba(0, 0, 0, 0.6035) 86.42%,
      rgba(0, 0, 0, 0.6) 91%
    ),
    url(./assets/images/background.jpg);
  /* background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.15) 40%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("./assets/images/background.jpg"); */
  /* opacity: 0.5; */

  color: white;
  justify-content: center;
  align-items: center;
}
.hero-section-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
  max-width: 600px;
  padding: 10px;
}
.hero-section-content h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.hero-section-content p {
  font-size: 20px;
  font-weight: 400;
  /* line-height: 50px; */
}
.hero-section-content h3 {
  /* font-size: 16px; */
  font-weight: 400;
  /* line-height: 50px; */
}
.form-div {
  margin-top: 10px;
}
.form-div form {
  display: flex;
  gap: 10px;
}

.form-div input {
  flex-grow: 1;
  flex-shrink: 1;

  padding: 15px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);

  /* background-color: rgba(0,0,0,0.6); */
  color: white;

  /* border: 1px solid rgba(255,255,255,0.3);
    border-radius: 4px;   */
}
.form-div input:focus {
  outline: none;
}
.form-div button {
  background-color: #e50914;
  color: white;

  padding: 15px 25px;
  font-size: 18px;
  font-weight: 600;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}
.form-div button:hover {
  /* border-radius: 10px; */
  background-color: #f6121d;
}

/* ================= TRENDING NOW SECTION ================= */

.trending {
  background-color: black;
  margin-top: 15px;
  width: 100vw;
  /* display: flex;
    justify-content: center; */
  margin-bottom: 30px;
}
.trending > h2 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  width: 80vw;
  /* border: 2px solid red; */
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.trending-row {
  display: flex;
  width: 80vw;
  height: 300px;
  /* border: 2px solid red; */
  margin: auto;
  padding: 15px;
  gap: 40px;
  overflow-x: auto;
  overflow-y: hidden;
}

.card {
  transition: transform 0.3s ease;
  position: relative;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
  z-index: 10;
  /* cursor: pointer; */
}

.card img {
  border-radius: 10px;
  /* border: 2px solid red; */
  background-size: cover;
  /* object-fit: cover; */
  flex: 0 0 auto;
}

/* ================= MORE REASONS SECTION ================= */

.reasons-section {
  background-color: black;
  /* margin-bottom: 20px; */
}

.reasons-section > h2 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  width: 80vw;
  /* border: 2px solid red; */
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.reasons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  /* border: 2px solid red; */
  min-height: 500px;
  width: 80vw;
  margin: auto;
  /* justify-items: center;
    align-items: center; */
  margin-bottom: 30px;
}
.reason-card {
  /* position: static; */
  position: relative;
  color: white;
  /* border: 2px solid pink; */
  min-height: 200px;
  padding: 20px;
  border-radius: 20px;
  /* background: #1a1a2e; */
  background: linear-gradient(135deg, #1a1a2e 0%, #2b1f3f 50%, #1c1c2b 100%);
  box-shadow:
    inset 0 0 30px rgba(255, 0, 150, 0.05),
    0 0 20px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.reason-card img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  /* display: block; */
  /* border: 2px solid red; */
  /* filter: brightness(0) invert(1); */
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0.9;
}

.reason-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}
.reason-card h3 {
  /* border: 2px solid red; */
  font-size: 24px;
  font-weight: 500;
}
.reason-card p {
  /* border: 2px solid red; */
  font-size: 18px;
  font-weight: 400;
}

/* ================= FAQ SECTION ================= */

.faq-section {
  background-color: black;
  margin-bottom: 40px;
}

.faq-section > h2 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  width: 80vw;
  /* border: 2px solid red; */
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.faq-container {
  /* font-size: 45px; */
  /* border: 2px solid red; */
  width: 80vw;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
/* .faq-container p{
    /* font-size: 45px; */
/* border: 2px solid red; */
/* width: 80vw;
    margin: auto;
    padding: 15px; 
    
} */
.faq-item {
  /* flex-grow: 1; */
  /* cursor: pointer; */
  display: flex;
  flex-direction: column;
  /* row-gap: 20px; */
  /* row-gap: 1px; */
}

.faq-question {
  cursor: pointer;
  width: 100%;
  /* color: white; */
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  /* align-items :center; */
  /* background-color: #232325; */
  /* background-color: rgba(182, 178, 178, 0); */
  background-color: #2d2d2d;
  color: #ffffff;
  /* position: relative; */

  align-items: center;
  /* transition: transform 0.3s ease; */
  transition: background-color 0.25s ease;
}

.faq-question p {
  font-size: 36px;
  /* font-family: monospace; */
  /* border: 2px solid red; */
  flex-grow: 1;
  text-align: left;
  padding-left: 20px;
  /* padding-right:25px; */
  /* font-weight: 500; */
  max-width: 1083px;
}
.faq-question svg {
  width: 73px;
  height: 76px;
  padding-right: 25px;
  transition: transform 0.2s ease;
}

.faq-question:hover {
  background-color: #414141;
}

.faq-answer {
  color: #ffffff;
  /* border: 2px solid red; */
  /* visibility: hidden; */
  /* display: none; */
  /* display: block; */
  font-size: 24px;
  background-color: #2d2d2d;
  padding: 5px;
  /* text-align: center; */
  text-align: left;
  max-height: 0;
  overflow: hidden;
  padding: 0px 24px;
  transition:
    max-height 0.3s ease,
    padding 0.3s ease;
  margin-top: 5px;
  width: 1144px;
  line-height: 1.5;
}

.faq-item.active .faq-answer {
  max-height: 300px;
  padding: 20px 24px;
}
.faq-item.active svg {
  transform: rotate(45deg);
}

/* ================= CTA SECTION(CALL TO ACTION) ================= */

.cta-section {
  background-color: black;
  /* height: 100px; */
  width: 100vw;
  /* margin: auto; */
  /* border: 2px solid red; */
  margin-top: 20px;
  /* margin: 60px 0; */
}
.cta-container {
  min-height: 100px;
  width: 80vw;
  /* border: 2px solid red; */
  margin: auto;
  color: white;
  /* display: flex; */
  /* flex-direction: column; */
}

.cta-container h2 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 16px 10px;
}
.cta-form-div {
  padding: 16px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cta-form-div input {
  width: 400px;
  background: transparent;
  border: 1px solid #555;
  color: white;
  flex-shrink: 1;
}
.cta-and-footer {
  background-color: black;
  width: 100vw;
  min-height: 0px;
  margin-bottom: 100px;
}

/* ================= FOOTER SECTION ================= */

.footer span {
  color: white;
  width: 80vw;
  /* text-align: center; */
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.footer span a {
  color: white;
}

.footer-container {
  background-color: black;
  /* border: 2px solid red; */
  /* margin-top: 100px; */
  height: auto;
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(5,1fr); */
  gap: 12px 40px;
  color: white;
  /* place-items: center; */
  /* justify-items: center; */
  /* align-items: center;  */
  row-gap: 20px;
  margin-bottom: 30px;
}
.footer-container a {
  color: white;
  display: block;
  /* border: 2px solid red; */
  width: 100%;

  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
}

.footer-btn {
  width: 80vw;
  margin: auto;
  margin-bottom: 60px;
}

.footer-end {
  color: white;
  width: 80vw;
  margin: auto;
  /* margin-bottom: 60px; */
  line-height: 3;
  margin-bottom: 75px;
}


.disclaimer{
  /* border: 2px solid red; */
  width: 80vw;
  margin: auto;
  color: white;
}
.disclaimer p{
  
  color: white;
}


/* ================= MEDIA QUERIES ================= */

/* tablet */
/* @media (max-width: 768px)  */
/* main changes */

/* mobile */
/* @media (max-width: 480px)  */
/* fine tuning */

@media (max-width: 768px) {
  .cta-form-div input {
    width: 300px;
    background: transparent;
    border: 1px solid #555;
    color: white;
    flex-shrink: 1;
  }
  .form-div input{
    width: 80vw;
    margin: auto;
}
.form-div button{
    width: 40vw;
    margin: auto;
}
 .cta-form-div input {
    width: 400px;
    background: transparent;
    border: 1px solid #555;
    color: white;
    flex-shrink: 1;
  }
  .cta-form-div form{
    display: flex;
    flex-direction: column;
  }
  
  .cta-form-div button{
    width: 200px;
  }
  .reason-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  /* display: block; */
  /* border: 2px solid red; */
  /* filter: brightness(0) invert(1); */
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0.8;
}
.reason-card h3 {
  /* border: 2px solid red; */
  font-size: 20px;
  font-weight: 500;
}
.faq-question p {
    font-size: 20px;
}
.faq-question p {
    font-size: 20px;
}

.faq-answer {
    width: auto;
    font-size: 20px;
    overflow-y: auto;
    
}
.faq-item.active .faq-answer {
  padding-bottom: 5px;
}
 .form-div form {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 10px;
}
.form-div input{
    width: 60vw;
    margin: auto;
}
.form-div button{
    width: 30vw;
    margin: auto;
}
  


}

@media (max-width: 480px) {

    .form-div form {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 10px;
}
.form-div input{
    width: 80vw;
    margin: auto;
}
.form-div button{
    width: 40vw;
    margin: auto;
}
  .cta-form-div input {
    width: 250px;
    background: transparent;
    border: 1px solid #555;
    color: white;
    flex-shrink: 1;
  }
  .cta-form-div button{
    width: 150px;
  }
  
  .faq-question p {
  font-size: 20px;
}
.faq-question svg {
  width: 60px;
  height: 60px;
  padding-right: 25px;
  transition: transform 0.2s ease;
}
.navbar-inner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
   
}
.netflix-logo img{
    width: 100px;
}
.nav-right{
    display: flex;
    gap: 5px;
   
   
}
.hero-section  h1{
    font-size: 34px;
}
.trending h2{
    font-size: 24px;
}
/* .trending-row{
    height: 100px;
}
.card img{
    height: 150px;
    margin-bottom: 0;

} */
 /* .footer-btn{
    margin-top: 20px;
 } */
  .footer-lang-btn{
    margin-top: 40px;
  }

  .reason-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  /* display: block; */
  /* border: 2px solid red; */
  /* filter: brightness(0) invert(1); */
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0.8;
}
.reason-card h3 {
  /* border: 2px solid red; */
  font-size: 20px;
  font-weight: 500;
}
.reasons-container{
    grid-template-columns: 1fr;
    width: 100%;
    padding: 20px;
   
}
.footer-container{
    grid-template-columns: 1fr;
}
.footer-container a{
    text-align: left;
}
.faq-question p {
    font-size: 20px;
}

.faq-answer {
    width: auto;
    font-size: 20px;
    overflow-y: auto;
    
}
.faq-item.active .faq-answer {
  padding-bottom: 5px;
}


}
